<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RestoService.Properties.Settings.Conex" connectionString="server=localhost, 1433; database=Resto; user=sa; password=Resto123" />
    </connectionStrings>
</configuration>